<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @iowethem.amount %>
</p>

<p>
  <strong>Person:</strong>
  <%= @iowethem.person %>
</p>

<%= link_to 'Edit', edit_iowethem_path(@iowethem) %> |
<%= link_to 'Back', iowethems_path %>
