<%= form_for(@debt, remote: true, format: :js, :html => {:autocomplete => "off"}) do |f| %>
   <div id="error_explanation" style='display:none;'>
    <ul>
      <% if @debt.errors.any? %>
        <% @debt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :person %><br>
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <%= f.hidden_field :youtothem, :value => "false" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
