/* You owe them */
if($('#new_debt #debt_youtothem').val() == "true")
	$('#youowethem_list tbody tr:last').after('<tr><td class="amount"><%=  @debt.amount %></td><td class="person"><%= @debt.person %></td><td class="comment"><%= @debt.comment %></td><td><%= link_to '✖', @debt, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_debt' %></td></tr>')
else
	$('#theyoweyou_list tbody tr:last').after('<tr><td class="amount"><%=  @debt.amount %></td><td class="person"><%= @debt.person %></td><td class="comment"><%= @debt.comment %></td><td><%= link_to '✖', @debt, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_debt' %></td></tr>')

$debt_form = $('form#new_debt')
$error_container = $("#error_explanation", $debt_form)
$error_container_ul = $("ul", $error_container)

/*reset form and fadeout */
$("#new_debt")[0].reset()
$debt_form.fadeOut(1000)
if($("li", $error_container_ul).length) {
	$("li", $error_container_ul).remove()
	$error_container.hide()
}
/* modify total */
var total = 0;
$('table#theyoweyou_list td.amount').each(function () {
	total += parseFloat($(this).text(),10);
});
$('#theyoweyou_total').text("Total: "+parseFloat(total,10)+" €");

var totalyot = 0;
$('table#youowethem_list td.amount').each(function () {
	totalyot += parseFloat($(this).text(),10);
});
$('#youowethem_total').text("Total: "+parseFloat(totalyot,10)+" €");
