/* You owe them */
if($('#new_debt #debt_youtothem').val() == "true")
	$('#youowethem_list tbody tr:last').after('<tr><td class="amount"><%=  @debt.amount %></td><td class="person"><%= @debt.person %></td><td class="comment"><%= @debt.comment %></td><td><%= link_to '✖', @debt, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_debt' %></td></tr>')
else
	$('#theyoweyou_list tbody tr:last').after('<tr><td class="amount"><%=  @debt.amount %></td><td class="person"><%= @debt.person %></td><td class="comment"><%= @debt.comment %></td><td><%= link_to '✖', @debt, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_debt' %></td></tr>')

$debt_form = $('form#new_debt')
$error_container = $("#error_explanation", $debt_form)
$error_container_ul = $("ul", $error_container)

/*reset form and fadeout */
$("#new_debt")[0].reset()
$debt_form.fadeOut(1000)
if($("li", $error_container_ul).length) {
	$("li", $error_container_ul).remove()
	$error_container.hide()
}
/* modify total */
/* Animation countUp of total */
/* options */
var options = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.',
  prefix : 'Total: ', 
  suffix : '€' 
}
/* Get the old total */
oldTotal = $('#theyoweyou_total').text();
oldTotal = Number(oldTotal.substring(7,oldTotal.length-2).replace(/[^0-9\.]+/g,""));

/* Get the new total */
var total = 0;
$('table#theyoweyou_list td.amount').each(function () {
	total += parseFloat($(this).text(),10);
});
/* Start the animation */
var numAnim = new countUp("theyoweyou_total", oldTotal, parseFloat(total,10), 2, 1.5, options);
numAnim.start();

//$('#theyoweyou_total').text("Total: "+parseFloat(total,10)+" €");

/* Get the old total */
oldTotalYot = $('#youowethem_total').text();
oldTotalYot = Number(oldTotalYot.substring(7,oldTotalYot.length-2).replace(/[^0-9\.]+/g,""));

/*Get the new total */
var totalYot = 0;
$('table#youowethem_list td.amount').each(function () {
	totalYot += parseFloat($(this).text(),10);
});
/* Start the animation */
var numAnim = new countUp("youowethem_total", oldTotalYot, parseFloat(totalYot,10), 2, 1.5, options);
numAnim.start();
//$('#youowethem_total').text("Total: "+parseFloat(totalyot,10)+" €");
