<h1>You owe them</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Person</th>
      <th>Youtothem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @total = 0 %>
    <% @debts.each do |debt| %>
    <% @total += debt.amount %>
      <tr>
        <td><%= debt.amount %></td>
        <td><%= debt.person %></td>
        <td><%= debt.youtothem %></td>
        <!--<td><%= link_to 'Show', debt %></td> -->
        <td><%= link_to 'Edit', edit_debt_path(debt) %></td>
        <td><%= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '+', new_debt_path %>
<br />
<br />
<strong>Total : <%= number_to_currency(@total, locale: :fr) %></strong>
<br />

