<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @debt.amount %>
</p>

<p>
  <strong>Person:</strong>
  <%= @debt.person %>
</p>
  <strong>Comment:</strong>
  <%= @debt.comment %>
</p>

<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
