<% provide(:title, 'Home') %>
<div class="center">
  <% if !user_signed_in? %>
  <h1>My Debts</h1>
  <h2>
    by <%= link_to "Bobby LE", "http://www.bobbyle.net/" %></p>
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% else %>
  <!-- THEY OWE YOU -->
  <h1>They owe you</h1>

  <table id="theyoweyou_list">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Person</th>
        <th>Comment</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @total = 0 %>
      <% @theyoweyous.each do |theyoweyou| %>
      <% @total += theyoweyou.amount %>
        <tr>
          <td class="amount"><%= theyoweyou.amount %></td>
          <td class="person"><%= theyoweyou.person %></td>
          <td class="comment"><%= theyoweyou.comment %></td>
          <!--<td><%= link_to 'Show', theyoweyou %></td> -->
          <!--<td><%= link_to 'Edit', edit_debt_path(theyoweyou) %></td>-->
          <td><%= link_to '✖', theyoweyou, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_debt' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p id="new_debt_theyoweyou_link">+</p>
  <%= render 'debts/form' %>
  <strong id="theyoweyou_total">Total : <%= number_to_currency(@total, locale: :fr) %></strong>
  <br />
  <!-- YOU OWE THEM -->
    <h1>You owe them</h1>

    <table id="youowethem_list">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Person</th>
          <th>Comment</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @total = 0 %>
        <% @youowethems.each do |youowethem| %>
        <% @total += youowethem.amount %>
          <tr>
            <td class="amount"><%= youowethem.amount %></td>
            <td class="person"><%= youowethem.person %></td>
            <td class="comment"><%= youowethem.comment %></td>
            <!--<td><%= link_to 'Show', youowethem %></td> -->
            <!--<td><%= link_to 'Edit', edit_debt_path(youowethem) %></td>-->
            <td><%= link_to '✖', youowethem, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_debt' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p id="new_debt_youowethem_link">+</p>
    <strong id="youowethem_total">Total: <%= number_to_currency(@total, locale: :fr) %></strong>

  <% end %>
</div>