<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "My Debts", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'index'%>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about'%>"><%= link_to "About", about_path %></li>
          <% if user_signed_in? %>
            <li class="<%= 'active' if params[:controller] == 'devise/registrations' && params[:action] == 'edit'%>"><%= link_to "#{current_user.email} (Edit profile)", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="<%= 'active' if params[:controller] == 'devise/sessions' && params[:action] == 'new'%>"><%= link_to "Login", new_user_session_path  %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>